{% extends 'common/base.html' %}
{% load static %}
{% load filters %}
{% block main_content %}
  
<div class="container accounts">


    <form method="post">
       
        <div class="title">
         {{ form.non_field_errors }}
            {% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}
       
       <p>{{ form.username|placeholder:"Email" }}</p>
       
       <p>{{ form.password|placeholder:"Password" }}</p>
          
        </div>
         
        <input type="submit" value="Login">
    <h1>or</h1>
        <button class="btn"><a href="{% url 'sign-up' %}">Register</a></button>
     <button class="btn" onclick="goBack()">Back</button>
            {% csrf_token %}
    </form>
</div>
                  

<script>
function goBack() {
  window.history.back();
}
</script>
{% endblock %}