{% extends 'common/base.html' %}
{% load static %}
{% load filters %}
{% block main_content %}
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}
<div class="container accounts">

    <form method="post">
        <div class="title">
       <p>{{ form.username|placeholder:"Email" }}</p>
       <p>{{ form.password|placeholder:"Password" }}</p>
            {% for error in form.non_field_errors %}
                <p>{{ error }}</p>
            {% endfor %}
        </div>
         <input type="hidden" name="next" value="{{ request.GET.next }}">
        <input type="submit" value="Login">
    <h1>or</h1>
        <button class="btn"><a href="{% url 'sign-up' %}">Register</a></button>
            {% csrf_token %}
    </form>
</div>
{% endblock %}