{% extends 'base.html' %}
{% load static %}
{% load filters %}
{% block main_content %}
    <div class="container">

        <div class="card-info">
             <div class="pics">
            <img src="{{object.profile_picture}}" alt="user">
            
        </div>    

        <div class="info">
      
            <h1>{{object.full_name}}</h1>
            
        
            <p class="description">{{object.description}}</p>
            <p>Phone: {{object.user.phone_number}}</p>
            <p>Email: {{object.user.email}}</p>
            
        
            <button class="btn"><a href="{% url 'user-guitars' %}">Show Guitars</a></button>
            {% if object.user == request.user %}

            <button class="btn"><a href="{% url 'edit-profile' pk=object.pk %}">Edit Profile</a></button>
            
            {% endif %}

            
            
        </div> 
        </div>   

    </div>

{% endblock %}