{% extends 'common/base.html' %}
{% load static %}
{% load filters %}
{% block main_content %}
    <div class="container">

        <div class="card-info profile">
             <div class="pics">
                {% if object.profile_picture%}
            <img src="{{object.profile_picture}}" alt="user">
                {% else %}
                <img src="{% static 'picture/blank-profile-picture.png' %}" alt="user">
                {% endif %}
            
        </div>    

        <div class="info">
      
            <h1>{{object.full_name}}</h1>
            
        
          
            <p>Phone: {{object.phone_number}}</p>
            <p>Email: {{object.user.email}}</p>
            
            
        
            <button class="btn"><a href="{% url 'user-guitars' %}">Show Guitars</a></button>
            {% if object.user == request.user %}

            <button class="btn"><a href="{% url 'edit-profile' pk=object.pk %}">Edit Profile</a></button>
                
            
            {% endif %}
        
           <button class="btn"><a href="{% url 'show-messages' %}">Messages {{object.user.received_messages.count}}</a></button>
             

            
            
        </div> 
        </div>   

    </div>

{% endblock %}

