
{% extends 'common/base.html' %}
{% load static %}
{% block main_content %}
    <!-- main content-->
    
    {# TODO: Maybe change image #}
        <section class="slogans">
               
                    <img class="g1" src="{% static 'picture/guitar1.jpg' %}" width="350" alt="">
              
                
                <div class="slo1">
                    <p>Guitar House:</p> 
                    <p>Where Strings Find New Beginnings</p>
    
                    <p> Buy, Sell, Strum Your Sound!</p>
                </div>
               
                <div class="slo2">
                    <p>Strum to Sell,</p>
                    <p>Jam to Buy:</p>
                    <p>Your Melody,</p>
                    <p>Your Marketplace.</p>
                </div>
            
                <img class="g2" src="{% static 'picture/guitar2.jpg' %}" width="500" alt="">
            
           
           
           
      
          </section>
          <!--end main content-->
      

{% endblock %}