{% extends 'base.html' %}
{% load static %}
{% block main_content %}
    <div class="container">

        <div class="card-info">
             <div class="pics">
            <img src="{{ guitar.image_url }}" alt="guitar">
        </div>    

        <div class="info">
            <h1>{{ guitar.brand }}</h1>
            <h2>{{ guitar.model }}</h2>
            {# TODO: Add seller name #}
            <h3>Seller: {{ guitar.user.profile.full_name }}</h3>
            <p class="description">{{ guitar.description }}</p>
            <p>Price: ${{ guitar.price }}</p>
            {# TODO: Add link seller and review #}
            
            {% if guitar.user != request.user %}
                <button class="btn"><a href="">Contact Seller</a></button>
                 <button class="btn"><a href="{% url 'guitar-reviews' guitar.pk %}">Review</a></button>
            {% else %}
                <button class="btn"><a href="{% url 'guitar-edit' guitar.pk %}">Edit</a></button>
                <button class="btn"><a href="{% url 'guitar-delete' guitar.pk %}">Delete</a></button>
            {% endif %}
            
        </div> 
        </div>   

    </div>

{% endblock %}