{% extends 'base.html' %}
{% load static %}
{% block main_content %}

    {% if not guitar.reviews.all %}
        <h1>Not Found Reviews</h1>
    {% else %}
        {% for review in guitar.reviews.all %}




            <div class="container">
                <div class="card-info">
                    {# TODO: Add user name #}
                    <h1>Kancho:</h1>
                    <p>{{ review.text }}</p>
                    
                </div>


            </div>
        {% endfor %}
    {% endif %}

{% endblock %}
    