{% extends 'common/base.html' %}
{% load static %}
{% block main_content %}
 
    

    <button class="btn"><a href="{% url 'add-review' guitar_id=guitar.id %}">Write Reviews</a></button>
    <button class="btn"><a href="{% url 'guitar-info' guitar.pk %}">Back</a></button>
         {% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
    </ul>
             <a href="{% url 'sign-in' %}?next={{ request.path }}">Login Here</a> 
         
{% endif %}
    {% if not reviews%}
        <h1>Not Found Reviews</h1>
    {% else %}
        {% for review in reviews %}




            <div class="container">
                <div class="card-info">
                    {% if review.user.profile.full_name %}
                    <h1>{{ review.user.profile.full_name }}</h1>
                        {% else %}
                    <h1>{{ review.user.email}}</h1>
                    {% endif %}
                    <p>{{ review.text }}</p>
                    
                </div>


            </div>
        {% endfor %}
    {% endif %}
   

{% endblock %}
    