{% extends 'common/base.html' %}
{% load static %}
{% load filters %}
{% block main_content %}
    {% if user.profile.phone_number %}
     <button class="btn"><a href="{% url 'guitar-add' %}">Add guitar</a></button>
    {% else %}
     <button class="btn"><a href="{% url 'edit-profile' user.profile.pk %}">Edit Profile</a></button>
    {% endif %}
    <div class="container">
   
    {% if not user_guitars %}
        
    <h1>Not Found Guitars</h1>
        
    {% else %}
     
    {% for guitar in user_guitars %}
   <div class="card">
   <div class="pics">
        <img src="{{ guitar.image_url }}" alt="guitar">
    </div>
       <div class="info">
       {% if guitar.model %}
    <h3>{{ guitar.model }}</h3>
{% endif %}
{% if guitar.short_description %}
    <p>{{ guitar.short_description }}</p>
{% endif %}

           {% if guitar|average_rating %}
           <p>rating: {{ guitar|average_rating|floatformat:"2" }}</p>
          
           {% endif %}
       
        <a href="{% url 'guitar-info' guitar.pk %}">Read More</a>
       </div>
    </div>   
    {% endfor %}
       
    {% endif %}
    </div>
    
 
            
{% endblock %}