{% extends 'common/base.html' %}
{% load static %}
{% block main_content %}
    {% if user.profile.phone_number %}
     <button class="btn"><a href="{% url 'guitar-add' %}">Add guitar</a></button>
    {% else %}
     <button class="btn"><a href="{% url 'edit-profile' user.profile.pk %}">Edit Profile</a></button>
    {% endif %}
    <div class="container">
   
    {% if not user_guitars %}
        
    <h1>Not Found Guitars</h1>
        
    {% else %}
     
    {% for guitar in user_guitars %}
   <div class="card">
   <div class="pics">
        <img src="{{ guitar.image_url }}" alt="guitar">
    </div>
       <div class="info">
        <h2>{{ guitar.model }}</h2>
        <p>{{ guitar.short_description }}</p>
       
        <a href="{% url 'guitar-info' guitar.pk %}">Read More</a>
       </div>
    </div>   
    {% endfor %}
       
    {% endif %}
    </div>
    
 
            
{% endblock %}