{% extends 'base.html' %}
{% load static %}
{% block main_content %}
    

<!-- add_review.html -->


<!-- Your form and other content here -->



            <div class="container">
                <div class="card-info">
                    <form method="post">
                        
                        {{ form.as_p }}
                        {% csrf_token %}
                        <input type="submit" value="Write Review">
                                
                       
                    </form>
                  
            
                    
                </div>
           


            </div>
      

{% endblock %}
    